@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
    @apply w-full p-3 rounded-xl bg-white/80 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400;
  }

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    background-color: #000; /* ⚫️ Тот же тёмный фон */
    color: white;
  }